<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="component">
		<field
				name="maxStoreDistance"
				type="number"
				label="Max Store Distance (in KM)"
				description="Enter max store distance in KM"
				hint="Enter max store distance in KM"
				required="true"
				default="10"
				/>
		<field
				name="otp_timeout"
				type="number"
				label="OTP Timeout (in seconds)"
				description="Enter otp timeout in seconds"
				required="true"
				default="120"
				/>
		<field
				name="otpDigitCount"
				type="number"
				default="6"
				description="Enter OTP digit count"
				label="OTP Digit Count"
				hint="For example, 6"
				required="true"
				/>
		<field
				name="banner_store_path"
				type="text"
				label="Banner store path"
				description="Enter banner store path"
				required="true"
				/>
		<field
				name="store_image_prefix"
				type="text"
				label="Enter Prefix for Store Iamge"
				description="Enter Prefix for Store Iamge"
				required="true"
				/>
		<field
				name="googleAddressKey"
				type="text"
				label="Google Address Key"
				description="Enter Google Address Key"
				required="true"
				/>
		<field
				name="addressType"
				type="list"
				default="Home"
				label="Default Address Type"
				description=" Select Default Address Type"
				required="true"
				>
		 	 	<option value="Home">Home</option>
		  		<option value="Office">Office</option>
		  		<option value="Other">Other</option>
		</field>
	</fieldset>
	<fieldset name="Environment">
		<field
				name="localhost_url"
				type="url"
				label="Localhost"
				description="Enter localhost URL"
				required="true"
				/>
		<field
				name="localhost_admin_key"
				type="text"
				label="Localhost Admin Key"
				description="Enter localhost admin key"
				required="true"
				/>
		<field
				name="stagging_url"
				type="url"
				label="Stagging"
				description="Enter stagging URL"
				required="true"
				/>
		<field
				name="stagging_admin_key"
				type="text"
				label="Stagging Admin Key"
				description="Enter stagging admin key"
				required="true"
				/>
		<field
				name="production_url"
				type="url"
				label="Production"
				description="Enter production URL"
				required="true"
				/>
		<field
				name="production_admin_key"
				type="text"
				label="Production Admin Key"
				description="Enter production admin key"
				required="true"
				/>
	</fieldset>
	<fieldset name="USER_REGISTRATION">
		<field
				name="emailDomain"
				type="text"
				default="mailinator.com"
				description="Enter Email Domain For New User"
				label="Email Domain"
				hint="For example, domain.com"
				required="true"
				/>
	</fieldset>
</config>
